<h1>Create your new cocktail</h1>

<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :ingredient %>
  <%= f.input :dose %>
 <%= f.submit "add a cocktail", class: "btn btn-primary" %>
<% end %>
