<h1>Add the dose</h1>

<%= simple_form_for [ @cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, as: :select, collection: @ingredients %>
  <%= f.input :cocktail_id, as: :hidden, input_html: { value: @cocktail.id }  %>
  <%= f.submit "add dose", class: "btn btn-primary" %>
<% end %>
